<div class="container center">
  <app-header></app-header>
  <div class="row">
      <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
          <a class="list-group-item list-group-item-action" *ngFor="let item of summaryItems" id="list-{{ item.idItem }}-list" data-toggle="list" href="#list-{{ item.idItem }}" role="tab" attr.aria-controls="{{ item.idItem }}">{{ item.title }}</a>
        </div>
        <br>
        <div class="col-4 btn btn-primary" [routerLink]="['/home']">
          <i class="fas fa-hand-point-left"></i>
          Atras
        </div>
      </div>
      <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show" *ngFor="let item of summaryItems" id="list-{{ item.idItem }}" role="tabpanel" attr.aria-labelledby="list-{{ item.idItem }}-list">{{ item.description }}
              <div class="m-3">
                <img [src]='item.image' [style.width.px]='imageWidth' class="rounded mx-auto d-block">
              </div>
              <hr>
              <div>
                <a [href]='item.ref' target="blank"><em>{{item.ref}}</em></a>
              </div>
              <br>
          </div>
        </div>
      </div>

    </div>
</div>