<div class="container center">
  <app-header></app-header>

  <h2 class="text-center">IP Location Finder</h2>
  <p>Diseñar en esta seccion un servicio que me pertima digitar una IP publica y que me diga en donde se encuentra localizada</p>
  <br>
  <p>Tips</p>
  <ul>
    <li>Crear una interfaz sencilla.</li>
    <li>Crear interfaces.</li>
    <li>Crear los servicios</li>
    <li>Usar la API expuesta <a href="https://ipstack.com/documentation">ipstack</a> y su documentación</li>
  </ul>
  <app-back-button></app-back-button>
</div>


