<div class="container center">
    <app-header></app-header>
    <div class="row m-5" *ngFor="let item of homeItems">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description }}</p>
                <a [routerLink]='item.route' class="btn btn-primary">{{ item.buttonText }}</a>
            </div>
            </div>
        </div>
    </div>
</div>