<div class="container center">
    <div class="m-5">
        <h1 class="text-center">
            Welcome to Angular 
        </h1>
        <hr>
        <h4 class="font-weight-lighter text-center">
            Semillero SISAS
        </h4>
    </div>

    <div class="row m-5" *ngFor="let item of navBarItems">
        <div class="col-sm-12">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">{{ item.description }}</p>
                <a href="#" class="btn btn-primary">{{ item.buttonText }}</a>
            </div>
            </div>
        </div>
    </div>

    
</div>